.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination .active button {
  background-color: #45a049;
}
